/* ----------------- style.css is optimised for mobile first ----------------- */
/* burger menu */
/* 1 columns for legend */
/* stacked grid for schedule */

/* ------> stlyes for larger screens ------>  */

/* ----------------- TABLET/small screen ABOVE 480px ----------------- */

@media only screen and (max-width: 480px) {
    .nav-links li {
        opacity: 0;
        text-align: right;    
}

    .nav-links {
        position: fixed;   
        right: 0px;
        top: 50px;
        height: 100vh;
        background-color: rgba(32, 32, 32, 0.65);
        display: block;
        flex-direction: column;
        width: 120px;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }
    
    .nav-active {
        transform: translateX(0%);
    }

    .nav-hide {
        display: hidden;
    }
    
    .burger {
        display: inline-block;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    .demo-sign {
        display: none;
    }

    .happening-now {
        display: none;
    }
}

  @media only screen and (min-width: 480px) {

    /* 2 columns for legend */
    .grid_legend-container {
        grid-template-columns: 1fr 1fr;
    }

   .grid_schedule-areas {
        grid-template-rows: auto auto;
        grid-template-columns: 1.2fr 2.7fr 0.8fr;
        grid-gap: 0;
        grid-template-areas:
            "start-time type location"
            "date-and-day title status"

    }
    .demo-sign {
        position: fixed;
        top: 60px;
        width: 100%;
        background-color: rgba(29, 29, 29, 0.671);
        color: grey;
    }

    .happening-now-list {
        display: none;
    }

  }

/* ----------------- screen ABOVE 1024px ----------------- */
/* grid-areas for schedule STAY THE SAME as above? */

@media only screen and (min-width: 1024px) {

    /* 3 columns for legend */
    .grid_legend-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

  }


