@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@700&display=swap');

/* ///////////////////// global stuff ///////////////////// */
:root {
    --dark-color: rgb(29, 29, 29);
    --light-color: #e9e9e9;
    --green: chartreuse;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html { scroll-behavior: smooth; }

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

a:hover { color: yellow; }

/* ///////////////////// navigation ///////////////////// */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.8);
}
.nav-links {
    display: flex;
    /* width: 40%; */
    justify-content: space-around;
    color: var(--green);
}

.nav-links a {
    letter-spacing: 2px;

}
.nav-links li {
    list-style: none;
    opacity: 1;
}

.burger {
    display: none;
}

.burger div { 
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.5s ease;
}

.burger-line {
    background-color: var(--green);
}

/* ///////////////////// toggle button ///////////////////// */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 22px;
	background: rgb(29, 29, 29);
	display: flex;
	border-radius: 100px;
    position: relative;
    /* border: 1px solid violet; */

}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: #fff;
    border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #161615;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-80%);
}

label:active:after {
	width: 130px;
}

.toggle-text {
    display: flex;
    position: fixed;
    top: 100px;
    background-color: rgb(255, 94, 0);
    padding: 3px;
    border-radius: 3px;
    width: 170px;
    justify-content: space-around;
}

/* ///////////////////// sections and boxes ///////////////////// */
section { height: 100vh; }

.section_schedule {
    padding-top: 100px;
    height: auto;
}

.box {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.box h1 {
    text-align: center;
}

.box_logo{
    padding-top: 150px;    
}

.box_floorplan{
    padding-top: 100px;
}

.box_about {
    padding-top: 200px;
}

.box_legend {
    min-width: 50%;
    /* background-color: burlywood; */
}

/* .temp-list {
    padding-top: 100px;
} */

button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    border: none;
    outline: none;
}

/* ///////////////////// buttons ///////////////////// */
#authorize_button,
#signout_button {
    font-size: 1em;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 3px;
    color: var(--green);
}

.btn-no-border-pale {
    color: rgba(172, 255, 47, 0.404);
}

.btn-no-border-green:hover {
    color: white;
}

.btn-no-border-pale:hover {
    color: rgba(172, 255, 47, 0.63);
}

.btn-dark {
    color: black;
    font-weight: bolder;
}

.btn-hidden {
    display: none;
    color: transparent;
}

/* ///////////////////// floorplan ///////////////////// */
.plan {
    width: 85%;
    height: auto;
}

.room_event {
    color: black;
    font-size: 60px;
    font-weight: bolder;
}

.room_name {
    color: black;
    font-weight: bolder;
}

.room_name-big {
    font-size: 90px;
}

.room_name-small {
    font-size: 70px;
}

.room_name-light {
    color: #acacac;
}

.room_name-vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    transform: rotate(180deg);
    transform-origin: center;
    /* text-align: left; */
}

.happening-now {
    /* fill: magenta; */
    font-weight: 100;
    -webkit-animation: now 0.6s ease-in-out alternate infinite;
            animation: now 0.6s ease-in-out alternate infinite;
}
  
.happening-small {
    font-size: 0.8em;
}

@-webkit-keyframes now {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.025);
    }
}

@keyframes now {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.025);
    }
}

.legend {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6em;
    letter-spacing: 5px;
    color: rgb(170, 175, 175);
    text-align: left;
}

.events {
    text-align: left;
    width: 70%;
    max-width: 700px;
}

.room:hover {
    fill: blueviolet;
    /* color: blueviolet; */
}

/* ///////////////////////////// simple grid for legend /////////////////////////////  */
.grid_legend-container {
    display: grid;
    margin: auto 0px;
    grid-column-gap: 20px;
    grid-row-gap: 15px;

}

.room_type-legend {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-transform: capitalize;
    color: #8d8f91;
    cursor: pointer;
} 

/* ///////////////////////////// grid for schedule /////////////////////////////  */
.box_schedule {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 2px solid white;
    color: #e9e9e9;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    text-align: left;
}

.grid_schedule-container {
    display: grid;
}

.grid_schedule-areas {
    margin: 20px 0;
    padding: 10px 0 10px 10px;
    grid-gap: 2px;
    background-color: rgba(43, 42, 42, 0.178);
    grid-template-areas:
        "start-time"
        "date-and-day"
        "type"
        "title"
        "location"
        "status";
}

.time {
    letter-spacing: 2px;
    grid-area: start-time;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    /* margin: auto auto 0 0; */
    align-self: start;
}
  
.date {
    grid-area: date-and-day;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: start;
    line-height: 1.8em;
}

.type {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    grid-area: type;
    align-self: flex-start;
    line-height: 1.4em;
    color: rgba(224, 228, 10, 0.562);
}
  
.title {
    grid-area: title;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    align-self: start;
}
  
.location {
    grid-area: location;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    align-self: start;
  }

.status {
    grid-area: status;
    color: rgba(245, 245, 245, 0.226);
}

/* ///////////////////// animation ///////////////////// */
#logo {
    animation: logo 3s ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

.logo-dark {
    
    fill: #000;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);

}


/* ///////////////////// toggle dark mode ///////////////////// */

body.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.nav-light {
    background-color: var(--light-color);
    opacity: 0.8;
}

.burger-line-dark {
    background-color: var(--dark-color);
}
