@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth; 
}

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(29, 29, 29);
    color: #e9e9e9;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: #e9e9e9;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

section {
    height: 100vh;
}

.section_into {
    /* background: rgba(241, 91, 141, 0.288); */
}

.section_floorplan {
    /* background-color: rosybrown; */
}

.section_schedule {
    padding-top: 100px;
    height: auto;
    /* background-color: RED; */
}

.nav {
    display: inline-block;
}

.nav-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.671);
}

.demo-sign {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.671);
    color: grey;
}

.box {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.box h1 {
    text-align: center;
}

.box_logo{
    padding-top: 150px;    
}

.box_floorplan{
    padding-top: 100px;
}

.box_legend {
    min-width: 900px;
    /* background-color: burlywood; */
}

.temp-list {
    padding-top: 100px;
}

.box_about {
    padding-top: 200px;
}

button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    border: none;
    outline: none;
    /* cursor: poiner; */
}

#authorize_button,
#signout_button {
    font-size: 1em;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 3px;
}

.btn-hidden {
    display: none;
    color: transparent;
}

.btn-full {
    background-color: chartreuse;
    color: black;
    font-weight: bolder;
}

.btn-empty {
    color: chartreuse;
}

.btn-no-border {
    border: none;
    background-color: transparent;
}

.btn-no-border-green {
    color: greenyellow;
}

.btn-no-border-pale {
    color: rgba(172, 255, 47, 0.404);
}

.btn-no-border-green:hover {
    color: white;
}

.btn-no-border-pale:hover {
    color: rgba(172, 255, 47, 0.63);
}

.plan {
    width: 85%;
    height: auto;
    /* background-color: black; */
}

.room_event {
    color: black;
    font-size: 60px;
    font-weight: bolder;
}

.room_name {
    color: black;
    font-weight: bolder;
}

.room_name-big {
    font-size: 90px;
}

.room_name-small {
    font-size: 70px;
}

.room_name-light {
    color: #acacac;
}

.room_name-vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    transform: rotate(180deg);
    transform-origin: center;
    /* text-align: left; */
}

.happening-now {
    /* fill: magenta; */
    font-weight: 100;
    -webkit-animation: now 0.6s ease-in-out alternate infinite;
            animation: now 0.6s ease-in-out alternate infinite;
    /* transform-origin: center; */
    /* transform-box: fill-box; */
}

@-webkit-keyframes now {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.025);
    }
}

@keyframes now {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.025);
    }
}

.happening-small {
    font-size: 0.8em;
}

.happening-now-list {
    display: none;
    margin-bottom: 30px;
}

.legend {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6em;
    letter-spacing: 5px;
    color: rgb(170, 175, 175);
    text-align: left;
}

.events {
    text-align: left;
    width: 70%;
    max-width: 700px;
    /* margin: 30px auto; */
}

.room:hover {
    fill: blueviolet;
    /* color: blueviolet; */
}

/* ///////////////////////////// simple grid for legend /////////////////////////////  */
.grid_legend-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
}

.grid_legend-element {
    /* background-color: rgba(45, 219, 161, 0.795); */
    /* margin: 2px; */
}

.room_type-legend {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-transform: capitalize;
    color: #8d8f91;
    cursor: pointer;
} 
/* ///////////////////// responsive event list ///////////////////// */

.room_type-lu {
    /* background-color: lime; */
}

.events-raw {
    width: 90%;
    max-width: 700px;
    /* margin: 10px auto; */
    text-align: left;
}

.box_schedule {
    /* background-color: yellow; */
    border-radius: 2px solid white;
    color: #e9e9e9;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    text-align: left;
}

.box_schedule-alt {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 2px solid white;
    color: #e9e9e9;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    text-align: left;
}

.box_schedule_header {
    background-color: red;
}

/* the line  */
/* .location:after {
    display: block;
    height: 1px;
    background-color: black;
    content: " ";
    margin: 5px 0 15px 0;
  }
   */

/* ///////////////////////////// grid areas for schedule /////////////////////////////  */

.grid_schedule-container {
    display: grid;
    display: -ms-grid;
    /* border: 1px solid rgba(245, 245, 245, 0.192); */
}
  
.grid_schedule-element {
    /* background-color: rgba(88, 88, 88, 0.082); */
}

/* ----------- AREAS ----------- */
.grid_schedule-areas {
    grid-gap: 1px;
    margin: 20px 0;
    padding: 10px 0 10px 10px;
    background-color: rgba(43, 42, 42, 0.178);
    grid-template-areas:
        "start-time"
        "date-and-day"
        "type"
        "title"
        "location"
        "status";
}

.time {
    letter-spacing: 2px;
    grid-area: start-time;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    /* margin: auto auto 0 0; */
    align-self: start;
}
  
  .date {
    grid-area: date-and-day;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: start;
    line-height: 1.8em;
  }
  
  .type {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    grid-area: type;
    /* margin: auto auto 0 0; */
    align-self: flex-start;
    line-height: 1.4em;
    color: rgba(224, 228, 10, 0.562);
  }
  
  .title {
    grid-area: title;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    align-self: start;
  }
  
  .location {
    grid-area: location;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    align-self: start;
    /* justify-self: center; */
  }

  .status {
    grid-area: status;
    /* align-self: end; */
    /* justify-self: center; */
    color: rgba(245, 245, 245, 0.226);
  }
  
@media only screen and (max-width: 732px) {
    /* body { background-color: rgb(179, 2, 2); } */

    .box_legend {
        min-width: 350px;
        width: 70%;
    }
    .grid_legend-container {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 2fr; */
        /* grid-column-gap: 20px;
        grid-row-gap: 15px; */
    }

    .happening-now {
        display: none;
    }

    .happening-now-list {
        display: inline-block;
    }

}

@media only screen and (min-width: 732px) and (max-width: 890px) {
    .box_legend {
        min-width: 350px;
        width: 70%;
    }

    .grid_legend-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 2fr; */
        /* grid-column-gap: 20px;
        grid-row-gap: 15px; */

    }
}

@media only screen and (min-width: 890px) { 
    body {
        /* background-color: blue; */
    }
    .grid_schedule-areas {
        grid-template-rows: auto auto;
        grid-template-columns: 1.2fr 2.7fr 0.8fr;
        grid-gap: 0;
        grid-template-areas:
            "start-time type location"
            "date-and-day title status"

    }
   
}

@media only screen and (min-width: 1024px) {
    body {
        /* background-color: green; */
    }
}

/* ///////////////////// animation ///////////////////// */
#logo {
    animation: logo 3s ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

